{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "babel-plugin-transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "babel-plugin-transform-react-jsx",
      {
        "useBuiltIns": true
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false
      }
    ],
    [
      "transform-regenerator",
      {
        "async": false
      }
    ],
    "syntax-dynamic-import"
  ]
}
